.bangPanel{
    position: fixed;
    padding: 10px;
    top: -10px;
    padding-top: 20px;
    left: 10px;
    right: 10px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    background-color: #ccc;
    box-shadow: 0px 0px 10px 0px;
    z-index: 10;
    transition: 0.2s;
    transition-timing-function: ease-out;
    .retractBtn,.duplicateBtn,.settingsBtn,.pinyinConvertBtn,.repeatNameWarning{
        position: absolute;
        bottom: -22px;
        width: 27px;
        height: 27px;
        line-height: 27px;
        background-color: white;
        &:hover{
            background-color: #eee;
        }
    }
    .retractBtn{
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            transform: rotate(180deg);
            width: 80%;
            height: 80%;
        }
    }
    .repeatNameWarning{
        right: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#B3B3B3;
        animation: pulse 1s infinite;
        @keyframes pulse {
            0%   { color: rgba(0,0,0,1); }
            40%  { color: rgba(0,0,0,1); }
            100% { color: rgba(0,0,0,.3); }
        }
    }
    .settingsBtn{
        right: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: 80%;
        }
    }
    .pinyinConvertBtn{
        right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: 80%;
        }
        &.pinyinOverriding{
            background-color: rgb(255, 132, 0);
            div{
                color: white;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    .duplicateBtn{
        $size:10px;
        $dist:5px;
        right: 105px;
        .dupA,.dupB{
            background-color: white;
            position: absolute;
            height: $size;
            width: $size;
            border: 1.5px solid #aaa;
            border-radius: 3px;
        }
        .dupA{
            left: $dist;
            top: $dist;
        }
        .dupB{
            bottom: $dist;
            right: $dist;
        }
    }
}
.bangPanel.retracted{
    top: -210px;
    transition-timing-function: ease-in;
}
.bangPanel textarea{
    margin: 0px;
    resize: none;
    overflow: hidden;
    display: block;
    font-family: unset;
    font-size: 18px;
    border: none;
    width: 100%;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    max-height: 65px;
}
.bangPanel textarea.secondary{
    margin-top: 5px;
    font-size: 15px;
    max-height: 80px;
}