.itemIntro{
    font-size: 14px;
    color: #666;
    width: 40vw;
    transition: none;
    word-break: break-all;
    cursor: pointer;
    margin: auto;
}
.introNote{
    font-weight: normal;
    font-size: 12px;
    margin-left: 4px;
}
@media screen and (min-width: 768px) {
    .introNote{
        display: none;
    }
}