.mini{
    border-radius: 5px;
    height: 90px;
    width: 90px;
}
.dataInfo{
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
.ownerName{
    font-size: 14px;
}
.lastActive{
    font-size: 14px;
}