.saveList{
    .dataInfo{
        font-size: 14px;
        color: #666;
        margin-top: 5px;
    }
    .ownerName{
        font-size: 14px;
        a{
            text-decoration: underline;
        }
    }
    .lastActive{
        font-size: 14px;
    }
    .other-ops{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6px;
        margin-top: 6px;
        font-size: 15px;
    }
}