.saveList{
    .dataInfo{
        font-size: 14px;
        color: #666;
        margin-top: 5px;
    }
    .ownerName{
        font-size: 14px;
        a{
            text-decoration: underline;
        }
    }
    .lastActive{
        font-size: 14px;
    }
}