.configSection{
    h2{
        display: flex;
        align-items: center;
        color: #999;
        font-size: 20px;
        gap: 6px;
        margin: 5px;
        border-top: 1px solid #ccc;
        padding-top: 5px;
        cursor: pointer;
        user-select: none;
        .special{
            color: rgb(111, 180, 111);
        }
        .shownStatusIcon{
            width: 20px;
            height: 20px;
            img{
                transform: rotate(-90deg);
            }
        }
        &.sectorShown{
            color: black;
            .special{
                color: green;
            }
            img{
                transform: rotate(0deg);
                filter: brightness(0);
            }
        }
    }
    .explain{
        font-size: 14px;
        color: #666;
        p{
            margin-bottom: 0.5em;
        }
    }
    td{
        min-width: 40px;
    }
    input[type=number]{
        width: 100px;
    }
}